html, body{
    height: 100%;
    width: 100%;
    background: -webkit-radial-gradient(#131313, #090909, #000000); /*Safari*/
    background: -o-radial-gradient(#131313, #090909, #000000); /*Opera*/
    background: -moz-radial-gradient(#131313, #090909, #000000); /*Firefox*/
    background: radial-gradient(#131313, #090909, #000000); /*default*/}

.mainpage {
    font-family: 'Signika', sans-serif;
    color: #E6B800;}
    
.mainpage h5 {
    opacity: 0.7;}

.mainpage .items {
    padding-top: 60px}
    
.mainpage .items a {
    color: #A6A6A6;
    border-radius: 6px;
    border: 2px solid #191919;
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;}
    
.mainpage p {
    padding-top: 80px;
    font-size: 12px;}

.mainpage .ind2 {
    opacity: 0;}